.schedule {
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 380px;
  gap: 10px;

  h1 {
    font-weight: 700;
  }

  .record {
    span {
      font-weight: 700;
    }
  }

  .buttons {
    display: flex;
    gap: 15px;
  }
}
